<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="76x76"
          href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Knights-Manager API Documentation</title>
</head>
<body>

<div class="container" id="documentation">

</div>

<script src="https://api.apiary.io/seeds/embed.js"></script>
<script>
    new Apiary.Embed({
        "subdomain": "knights-manager",
        "preferences": {
            "element": "#documentation",
            "displayHttpMethods": true
        },
        "theme": {
            "fontFamily": "Roboto"
        },
        "customFonts": {
            "googleFonts": "https://fonts.googleapis.com/css?family=Roboto"
        }
    })
</script>
</body>
</html>
